<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>umunthu files</title>
		<link rel="stylesheet" href="./style.css">
</head>
<body class="bg-[#2E3440] text-[#fffaf3] h-screen max-h-screen flex flex-col items-stretch">
		<nav class="flex justify-between p-4 list-none bg-[#81a1c1]">
			<li> <h1><a href="/">Umunthu</a></h1> </li>
			<section class="flex gap-2">
			<li><a href="/">Home</a></li>
				<% if(locals.user){%>

			<li><a href="/logout">logout</a></li>
				<% }
				else{%>

			<li><a href="login">Login</a></li>
			<li><a href="/signup">Signup</a></li>
				<%}
				%>
			<li>Github</li>
			</section>

		</nav>
		<main  class=" gap-7 flex  justify-center flex-1 items-center flex-col">
<h1 class="capitalize font-bold text-5xl ">A <span class="text-[#ebcb8b]">new</span> world order file management system</h1>
<button class="p-4 bg-[#5e81ac] rounded-md shadow-md "><a href="/signup">Get Started </a> </button>

		</main> 
<footer class=" flex p-4 justify-between border-t-2 border-t-gray-400">
			<h1> copyright of otis</h1>
<ul class="flex gap-2 "> 
<li><a href="">Twitter</a></li>
<li><a href="www.github.come">github</a></li>
<li><a href="">Bluesky</a></li>
			</ul>


		</footer>
</body>
</html>
